body {
  margin: 0;
  font-family: "Courier New" , Courier, monospace;
    background: rgb(224,56,198);
    background: linear-gradient(90deg, rgba(224,56,198,1) 0%, rgba(162,161,231,1) 50%, rgba(99,228,235,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}